/* Define o fundo do body */
body {
    background-image: url('../img/5442673.jpg'); /* Caminho relativo para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove a margem padrão */
}

/* Aplica a borda roxa ao formulário */
.custom-form {
    background-color: #caaae0; /* Fundo branco do formulário */
    padding: 20px; /* Espaço interno do formulário */
    border: 10px solid #800080; /* Borda roxa */
    border-radius: 30px; /* Arredondar cantos */
    box-shadow: 0 4px 8px rgba(68, 65, 17, 0.1); /* Sombra leve */
    width: 100%; /* Usa toda a largura disponível */
    max-width: 500px; /* Define largura máxima do formulário */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
label{
    padding-bottom: 10px;
    color: #4e144e;
}

/* Estilizando os campos de entrada */
.form-control {
    border: 2px solid #800080; /* Borda roxa */
    margin-bottom: 15px; /* Espaçamento inferior entre os campos */
}

/* Título do formulário */
#cont {
    color: #3e049b;
    font-weight: bold; /* Deixar o texto em negrito */
    text-align: center; /* Centraliza o título */
    padding-bottom: 20px;
}

/* Estilizando o botão de envio */
button[type="submit"] {
    background-color: #6a4c9c; /* Cor de fundo roxa */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Deixar o texto em negrito */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição suave para efeitos de hover */
    margin: 20px auto; /* Centraliza o botão e cria espaço ao redor */
    display: block; /* Faz o botão ocupar o espaço disponível */
}

/* Efeito quando o mouse passa sobre o botão */
button[type="submit"]:hover {
    background-color: #4e3183; /* Cor de fundo roxa mais escura */
    transform: scale(1.15); /* Leve aumento de tamanho */
}
