body {
    background-image: url('../img/5442673.jpg'); /* Caminho da sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o body */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Opcional: Altera a cor do texto para melhor visibilidade */
}
